flow.txt
[{"id":"68e52b7.ee211d4","type":"tab","label":"SmartWaterManagementProject","disabled":false,"info":""},{"id":"dee55d25.7365a","type":"ibmiot in","z":"68e52b7.ee211d4","authentication":"apiKey","apiKey":"273fa20e.e0a62e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"distance","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":150,"y":120,"wires":[["a395ce8.943113","7b10271b.446ef8","4ab4fe80.946a7"]]},{"id":"4ab4fe80.946a7","type":"debug","z":"68e52b7.ee211d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":60,"wires":[]},{"id":"a395ce8.943113","type":"function","z":"68e52b7.ee211d4","name":"Distance","func":"global.set(\"dist\",msg.payload.d.distance);\nmsg.payload=msg.payload.d.distance;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":60,"wires":[["4ab4fe80.946a7","a28786fc.d585c8"]]},{"id":"a28786fc.d585c8","type":"ui_gauge","z":"68e52b7.ee211d4","name":"distance","group":"aa01dcd2.041e7","order":0,"width":0,"height":0,"gtype":"gage","title":"distance","label":"cm","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":160,"wires":[]},{"id":"9941890.e97c978","type":"ui_button","z":"68e52b7.ee211d4","name":"","group":"aa01dcd2.041e7","order":2,"width":0,"height":0,"passthru":false,"label":"turn_off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"turn_off","payloadType":"str","topic":"","x":180,"y":460,"wires":[["7d9a14f8.ce174c","81ca09e1.aa7658"]]},{"id":"13f811ea.0f2c5e","type":"ui_button","z":"68e52b7.ee211d4","name":"","group":"aa01dcd2.041e7","order":1,"width":0,"height":0,"passthru":false,"label":"turn_on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"turn_on","payloadType":"str","topic":"","x":200,"y":400,"wires":[["7d9a14f8.ce174c","dacd423e.60815"]]},{"id":"df349ec7.3788f","type":"function","z":"68e52b7.ee211d4","name":"distance","func":"msg.payload={\"distance\": global.get(\"dist\"),\n            \"percent\": global.get(\"percent\")};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["cdd1a809.3d45e8"]]},{"id":"d06afdb4.1f3ad","type":"http in","z":"68e52b7.ee211d4","name":"distance","url":"/distance","method":"get","upload":false,"swaggerDoc":"","x":160,"y":260,"wires":[["df349ec7.3788f"]]},{"id":"cdd1a809.3d45e8","type":"http response","z":"68e52b7.ee211d4","name":"","statusCode":"","headers":{},"x":610,"y":260,"wires":[]},{"id":"7d9a14f8.ce174c","type":"ibmiot out","z":"68e52b7.ee211d4","authentication":"apiKey","apiKey":"273fa20e.e0a62e","outputType":"cmd","deviceId":"12345","deviceType":"NodeMCU","eventCommandType":"command","format":"String","data":"ok","qos":0,"name":"IBM IoT","service":"registered","x":640,"y":420,"wires":[]},{"id":"dacd423e.60815","type":"debug","z":"68e52b7.ee211d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":360,"wires":[]},{"id":"81ca09e1.aa7658","type":"debug","z":"68e52b7.ee211d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":480,"wires":[]},{"id":"47e184b.ae34e7c","type":"http in","z":"68e52b7.ee211d4","name":"water_away_from_brim","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":120,"y":580,"wires":[["678a8b58.d90ef4"]]},{"id":"81b9cda0.27803","type":"debug","z":"68e52b7.ee211d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":600,"wires":[]},{"id":"678a8b58.d90ef4","type":"function","z":"68e52b7.ee211d4","name":"command","func":"msg.payload=msg.payload.command;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":600,"wires":[["81b9cda0.27803","7d9a14f8.ce174c","dc11b3f5.6628"]]},{"id":"dc11b3f5.6628","type":"http response","z":"68e52b7.ee211d4","name":"","statusCode":"","headers":{},"x":620,"y":520,"wires":[]},{"id":"7b10271b.446ef8","type":"function","z":"68e52b7.ee211d4","name":"percent","func":"global.set(\"percent\",msg.payload.d.percent);\nmsg.payload=msg.payload.d.percent;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["4ab4fe80.946a7"]]},{"id":"273fa20e.e0a62e","type":"ibmiot","z":"","name":"HOME AUTOMATION","keepalive":"60","serverName":"q9hbmx.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"aa01dcd2.041e7","type":"ui_group","z":"","name":"distance","tab":"afe79d26.0992b","disp":true,"width":"6","collapse":false},{"id":"afe79d26.0992b","type":"ui_tab","z":"","name":"distance","icon":"dashboard","disabled":false,"hidden":false}]